### OS Specific ###

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.scc

# Linux
*.swp

### Languages & Frameworks ###

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log
*.tar.gz
*.properties
*.nar
*.rar

### IDEs & Editors ###

# JetBrains / IntelliJ / PyCharm / Rider
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
*.pydevproject
.project
.metadata
bin/
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Xcode (Se stai sviluppando anche per iOS/macOS)
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData

# Visual Studio (Se stai sviluppando anche per Windows)
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.rptproj.user
*.vbproj.user
*.vshost.*
*.pidb
*.svclog

### Other ###

# Logs
logs
*.log
log/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Test coverage & Instrumentation
lib-cov
coverage
.nyc_output
.grunt

#
data.dat
prova.tsv
IndexData
Collection